---
name: admin-check
on:
  workflow_call:
    secrets:
      GITHUB_TOKEN:
        required: true
jobs:
  retrieve-permissions:
    runs-on: ubuntu-latest
    outputs:
      permission: ${{ steps.get-perm.outputs.result }}
    steps:
      - uses: actions/checkout@v4
      - name: Get actor permission from REST API
        id: get-perm
        uses: ./.github/actions/github-rest-api
        with:
          method: GET
          endpoint: /repos/${{ github.repository }}/collaborators/${{ github.actor
            }}/permission
          extract: '.permission'
          token: ${{ secrets.GITHUB_TOKEN }}
  check-admin:
    runs-on: ubuntu-latest
    needs: retrieve-permissions
    steps:
      - name: Deny if not admin
        if: ${{ needs.retrieve-permissions.outputs.permission != 'admin' }}
        run: |
          echo "❌ You must be a repo admin to run this."
          exit 1
      - name: Permission check passed
        if: ${{ needs.retrieve-permissions.outputs.permission == 'admin' }}
        run: |-
          echo "✅ Permission check passed."
