---
name: Lint
on:  # yamllint disable-line rule:truthy
  push:
    branches: main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
permissions: {}
concurrency:
  group: \ "${{ github.workflow }} \ @ ${{ github.event.pull_request.head.label ||
    github.head_ref || github.ref }}"
  cancel-in-progress: true
jobs:
  lint:
    name: Super Linter
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write  # Required for reporting GitHub Actions status checks
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run github/super-linter/slim
        uses: super-linter/super-linter/slim@v7
        env:
          # GitHub token is required for reporting status checks and authenticating
          CREATE_LOG_FILE: true
          LOG_LEVEL: NOTICE
          SUPPRESS_POSSUM: true
          IGNORE_GENERATED_FILES: true
          IGNORE_GITIGNORED_FILES: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BRANCH: "main"
          VALIDATE_ALL_CODEBASE: false  # Limits linting to modified files
          VALIDATE_BASH: true
          VALIDATE_BASH_EXEC: true
          BASH_EXEC_IGNORE_LIBRARIES: true
          VALIDATE_SHELLCHECK: true
          VALIDATE_SHELLFMT: true
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_GIT_MERGE_CONFLICT_MARKERS: true
          VALIDATE_YAML: true
          VALIDATE_PYTHON_RUFF: true
          VALIDATE_PYTHON_MYPY: true
          VALIDATE_MARKDOWN: true
